<body>
<style>
  #results{
    display:none;
  }

  #search-film{
    padding-left: 33%;
    padding-top: 14%;
  }
</style>
<div id="search-film">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth">
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="text" id="search-film-input" placeholder="Procure seu filme" aria-label="Full-Width Text Field">
          <span class="mdc-line-ripple"></span>
        </label>
      </div>
      <div class="mdc-layout-grid__cell" id="search-film-submit" (click)="listarVideos()">
        <button class="mdc-button mdc-button--raised">
          <div class="mdc-button__ripple"></div>
          <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
          <span class="mdc-button__label">Pesquisar</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="results">
  <ul class="mdc-list mdc-list--two-line">
    <li class="mdc-list-item" tabindex="0" *ngFor="let d of dados.items">
      <a class="mdc-list-item"  (click)="showDetails(d.id.videoId)">
        <img src="{{d.snippet.thumbnails.default.url}}" style="width:90px;margin-right: 16px;">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">{{d.snippet.title}} </span>
        <span class="mdc-list-item__secondary-text">{{d.snippet.description}}</span>
        </span>
      </a>
    </li>
  </ul>
</div>
<input type="hidden" id="videoId"/>
</body>



