<body>
<h1>Detalhes</h1>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <iframe width="424" height="238" src="https://www.youtube.com/embed/op0Q73LXH7Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="mdc-layout-grid__cell" id="search-film-submit" (click)="backIn()">
      <button class="mdc-button mdc-button--raised" >
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Voltar</span>
      </button>
      <br />
      <br />
      <strong>Titulo: </strong><span id="titulo"></span><br/>
      <strong>Curtidas: </strong> <span id="likeSpan"></span><br/>
      <strong>Não Gostaram: </strong> <span id="dislikeSpan"></span><br/>

    </div>
  </div>
</div>
</body>
